@page
@model RazorPagesUI.Pages.Forms.DashboardPageModel
@{
    ViewData["Title"] = "Dashboard";
}


<div id="main-container" class="dashboard-body">
    <div id="navbar-container">
        <div id="logo">
            <img src="~/assets/IMG-8050.png" alt="GSU logo">
        </div>
        <div id="personal-settings-container">
            <p>Notifications</p>
            <p>Account</p>
            <p>settings</p>
        </div>
    </div>
    <div id="body-container">
        <div id="side">
            <div id="sidebar-container">
                <h1>Dashboard</h1>
                <h2>Analytics</h2>
            </div>
            <div class="button-container">
                <div id="line"></div>
                <div id="line"></div>
            </div>
        </div>

        <div id="main-body-container">
            <div id="data-blocks">
                <div id="data-header-blocks">
                    <div id="block">
                        <h1>Quizes</h1>
                        <h1>0</h1>
                    </div>
                    <div id="block">
                        <h1>Participants</h1>
                        <h1>0</h1>
                    </div>
                    <div id="block">
                        <h1>Days Left</h1>
                        <h1>0</h1>
                    </div>
                </div>
                <div id="data-body-blocks">
                    <div id="block"><p>hello</p></div>
                    <div id="block"><p>hello</p></div>
                    <div id="block"><p>hello</p></div>
                    <div id="block"><p>hello</p></div>
                    <div id="block"><p>hello</p></div>
                </div>
            </div>
        </div>
    </div>
</div>