@page
@model RazorPagesUI.Pages.Forms.DashboardPageModel
@{
    ViewData["Title"] = "Dashboard";
}


<div id="main-container" class="dashboard-body">
    <div id="navbar-container">
        <div id="logo">
            <img src="~/assets/IMG-8050.png" alt="GSU logo">
        </div>
        <div id="personal-settings-container">
            <p>Notifications</p>
            <p>Account</p>
            <p>settings</p>
        </div>
    </div>
    <div id="body-container">
        <div id="side">
            <div id="sidebar-container">
                <h1>Dashboard</h1>
                <h2>Analytics</h2>
            </div>
            <div class="button-container">
                <div id="line"></div>
                <div id="line"></div>
            </div>
        </div>

        <div id="main-body-container">
            <div id="data-blocks">
                <div id="data-header-blocks">
                    <div id="block">
                        <h1>Quizes</h1>
                        <h1>0</h1>
                    </div>
                    <div id="block">
                        <h1>Participants</h1>
                        <h1>0</h1>
                    </div>
                    <div id="block">
                        <h1>Days Left</h1>
                        <h1>0</h1>
                    </div>
                </div>
                <div id="data-body-blocks">
                    <div id="block">
                        <div class="question1-container">
                            <canvas id="question 1" aria-label="chart" height="350" width="580"></canvas>
                        </div>
                    </div>
                    <div id="block">
                        <div class="question1-container">
                            <canvas id="question 2" aria-label="chart" height="350" width="580"></canvas>
                        </div>
                    </div>
                    <div id="block">
                        <div class="question1-container">
                            <canvas id="question 3" aria-label="chart" height="350" width="580"></canvas>
                        </div>
                    </div>
                    <div id="block">
                        <div class="question1-container">
                            <canvas id="question 4" aria-label="chart" height="350" width="580"></canvas>
                        </div>
                    </div>
                    <div id="block">
                        <div class="question1-container">
                            <canvas id="question 5" aria-label="chart" height="350" width="580"></canvas>
                        </div>
                    </div>
                    <div id="block">
                        <div class="question1-container">
                            <canvas id="question 6" aria-label="chart" height="350" width="580"></canvas>
                        </div>
                    </div>
                    <div id="block">
                        <div class="question1-container">
                            <canvas id="question 7" aria-label="chart" height="350" width="580"></canvas>
                        </div>
                    </div>
                    <div id="block">
                        <div class="question1-container">
                            <canvas id="question 8" aria-label="chart" height="350" width="580"></canvas>
                        </div>
                    </div>
                    <div id="block">
                        <div class="question1-container">
                            <canvas id="question 9" aria-label="chart" height="350" width="580"></canvas>
                        </div>
                    </div>
                    <div id="block">
                        <div class="question1-container">
                            <canvas id="question 10" aria-label="chart" height="350" width="580"></canvas>
                        </div>
                    </div>
                    <div id="block">
                        <div class="question1-container">
                            <canvas id="question 11" aria-label="chart" height="350" width="580"></canvas>
                        </div>
                    </div>
                    <div id="block">
                        <div class="question1-container">
                            <canvas id="question 12" aria-label="chart" height="350" width="580"></canvas>
                        </div>
                    </div>
                    <div id="block">
                        <div class="question1-container">
                            <canvas id="question 13" aria-label="chart" height="350" width="580"></canvas>
                        </div>
                    </div>
                    <div id="block">
                        <div class="question1-container">
                            <canvas id="question 14" aria-label="chart" height="350" width="580"></canvas>
                        </div>
                    </div>
                    <div id="block">
                        <div class="question1-container">
                            <canvas id="question 15" aria-label="chart" height="350" width="580"></canvas>
                        </div>
                    </div>
                    <div id="block">
                        <div class="question1-container">
                            <canvas id="question 16" aria-label="chart" height="350" width="580"></canvas>
                        </div>
                    </div>
                    <div id="block">
                        <div class="question1-container">
                            <canvas id="question 17" aria-label="chart" height="350" width="580"></canvas>
                        </div>
                    </div>
                    <div id="block">
                        <div class="question1-container">
                            <canvas id="question 18" aria-label="chart" height="350" width="580"></canvas>
                        </div>
                    </div>
                    <div id="block">
                        <div class="question1-container">
                            <canvas id="question 19" aria-label="chart" height="350" width="580"></canvas>
                        </div>
                    </div>
                    <div id="block">
                        <div class="question1-container">
                            <canvas id="question 20" aria-label="chart" height="350" width="580"></canvas>
                        </div>
                    </div>
                    <div id="block">
                        <div class="question1-container">
                            <canvas id="question 21" aria-label="chart" height="350" width="580"></canvas>
                        </div>
                    </div>
                    <div id="block">
                        <div class="question1-container">
                            <canvas id="question 22" aria-label="chart" height="350" width="580"></canvas>
                        </div>
                    </div>
                    <div id="block">
                        <div class="question1-container">
                            <canvas id="question 23" aria-label="chart" height="350" width="580"></canvas>
                        </div>
                    </div>
                    <div id="block">
                        <div class="question1-container">
                            <canvas id="question 24" aria-label="chart" height="350" width="580"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="start-quiz-button">
            <button><a asp-page="./Forms/QuizPage">Start Quiz</a></button>
        </div>
    </div>
</div>