@page
@model RazorPagesUI.Pages.Forms.DashboardPageModel
@{
    ViewData["Title"] = "Dashboard";
}


<div id="main-container" class="dashboard-body">
    <div id="navbar-container">
        <div id="logo">
            <img src="~/assets/IMG-8050.png" alt="GSU logo">
        </div>
        <div id="personal-settings-container">
            <p>Notifications</p>
            <p>Account</p>
            <p>settings</p>
        </div>
    </div>
    <div id="body-container">
        <div id="sidebar-container">
            <h1>Dashboard</h1>
            <h2>Analytics</h2>
        </div>

        <div id="main-body-container">
            <div id="data-blocks">
                <div id="block">
                </div>
                <div id="block">
                </div>
                <div id="block">
                </div>
                <div id="block">
                </div>
                <div id="block">
                </div>
                <div id="block">
                </div>
            </div>
        </div>
    </div>
</div>