@page
@model RazorPagesUI.Pages.Forms.DashboardPageModel
@{
    ViewData["Title"] = "Dashboard";
}


<div id="main-container" class="dashboard-body">
    <div id="navbar-container">
        <div id="logo">
            <img src="~/assets/IMG-8050.png" alt="GSU logo">
        </div>
        <div id="personal-settings-container">
            <p>Survey 1</p>
        </div>
    </div>
    <div id="body-container">


        <div id="main-body-container">
            <div id="data-blocks">
                
                <div id="data-body-blocks">
                    <div id="block">
                        <div class="question1-container">
                            <canvas id="Question 1" aria-label="chart" height="350" width="580"></canvas>
                        </div>
                    </div>
                    <div id="block">
                        <div class="question1-container">
                            <canvas id="Question 2" aria-label="chart" height="350" width="580"></canvas>
                        </div>
                    </div>
                    <div id="block">
                        <div class="question1-container">
                            <canvas id="Question 3" aria-label="chart" height="350" width="580"></canvas>
                        </div>
                    </div>
                    <div id="block">
                        <div class="question1-container">
                            <canvas id="Question 4" aria-label="chart" height="350" width="580"></canvas>
                        </div>
                    </div>
                    <div id="block">
                        <div class="question1-container">
                            <canvas id="Question 5" aria-label="chart" height="350" width="580"></canvas>
                        </div>
                    </div>
                    <div id="block">
                        <div class="question1-container">
                            <canvas id="Question 6" aria-label="chart" height="350" width="580"></canvas>
                        </div>
                    </div>
                    <div id="block">
                        <div class="question1-container">
                            <canvas id="Question 7" aria-label="chart" height="350" width="580"></canvas>
                        </div>
                    </div>
                    <div id="block">
                        <div class="question1-container">
                            <canvas id="Question 8" aria-label="chart" height="350" width="580"></canvas>
                        </div>
                    </div>
                    <div id="block">
                        <div class="question1-container">
                            <canvas id="Question 9" aria-label="chart" height="350" width="580"></canvas>
                        </div>
                    </div>
                    <div id="block">
                        <div class="question1-container">
                            <canvas id="Question 10" aria-label="chart" height="350" width="580"></canvas>
                        </div>
                    </div>
                    <div id="block">
                        <div class="question1-container">
                            <canvas id="Question 11" aria-label="chart" height="350" width="580"></canvas>
                        </div>
                    </div>
                    <div id="block">
                        <div class="question1-container">
                            <canvas id="Question 12" aria-label="chart" height="350" width="580"></canvas>
                        </div>
                    </div>
                    <div id="block">
                        <div class="question1-container">
                            <canvas id="Question 13" aria-label="chart" height="350" width="580"></canvas>
                        </div>
                    </div>
                    <div id="block">
                        <div class="question1-container">
                            <canvas id="Question 14" aria-label="chart" height="350" width="580"></canvas>
                        </div>
                    </div>
                    <div id="block">
                        <div class="question1-container">
                            <canvas id="Question 15" aria-label="chart" height="350" width="580"></canvas>
                        </div>
                    </div>
                    <div id="block">
                        <div class="question1-container">
                            <canvas id="Question 16" aria-label="chart" height="350" width="580"></canvas>
                        </div>
                    </div>
                    <div id="block">
                        <div class="question1-container">
                            <canvas id="Question 17" aria-label="chart" height="350" width="580"></canvas>
                        </div>
                    </div>
                    <div id="block">
                        <div class="question1-container">
                            <canvas id="Question 18" aria-label="chart" height="350" width="580"></canvas>
                        </div>
                    </div>
                    <div id="block">
                        <div class="question1-container">
                            <canvas id="Question 19" aria-label="chart" height="350" width="580"></canvas>
                        </div>
                    </div>
                    <div id="block">
                        <div class="question1-container">
                            <canvas id="Question 20" aria-label="chart" height="350" width="580"></canvas>
                        </div>
                    </div>
                    <div id="block">
                        <div class="question1-container">
                            <canvas id="Question 21" aria-label="chart" height="350" width="580"></canvas>
                        </div>
                    </div>
                    <div id="block">
                        <div class="question1-container">
                            <canvas id="Question 22" aria-label="chart" height="350" width="580"></canvas>
                        </div>
                    </div>
                    <div id="block">
                        <div class="question1-container">
                            <canvas id="Question 23" aria-label="chart" height="350" width="580"></canvas>
                        </div>
                    </div>
                    <div id="block">
                        <div class="question1-container">
                            <canvas id="Question 24" aria-label="chart" height="350" width="580"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>