@page
@model RazorPagesUI.Pages.Forms.LoginPage
@{
    ViewData["Title"] = "Login";
}

<div id="main-container">
    <div id="block">
        <form action="" method="post">
            <div id="header-container">
                <div id="logo">
                    <img src="~/assets/IMG-8050.png" alt="">
                </div>
                <h1>Login</h1>
            </div>
            <div id="body-container">
                <input type="text" placeholder="Email" asp-for="Login.Email">
                <input type="password" placeholder="Password" asp-for="Login.Password">
                <div id="sub-body-container">
                    <a href="">Forgot Password?</a>
                </div>
            </div>
            <div id="footer-container">
                <button>Login</button>
            </div>
            <div id="create-account">
                <p>New User?</p>
                <a href="register.html" >Create an account</a>
            </div>
        </form>
    </div>
</div>