@page
@model RazorPagesUI.Pages.Forms.QuizPageModel
@{
    ViewData["Title"] = "Quiz";
}

<div class="quiz-body">
    <div id="logo">
        <h1>Website Name</h1>
        <img src="~/assets/IMG-8050.png" alt="">
    </div>
    <div id="main-container">
        <div id="block">
            <form method="post">
                <div id="header-container">
                    <h1 class="question"></h1>
                </div>
                <div id="body-container" class="question-choices">
                   
                </div>
                <div id="footer-container">
                    <img src="~/assets/back.png" alt="" class="back-button">
                    <img src="~/assets/next.png" alt="" class="next-button">
                </div>
                <!-- <div id="create-account">
                    <h3>New User?</h3>
                    <a href="">Create an account</a>
                </div> -->
            </form>
        </div>
    </div>
</div>
