@page
@model RazorPagesUI.Pages.Forms.RegisterPage
@{
}

<div id="main-container">
    <div id="card-container">
        <h1>Register</h1>
        <form>
            <div id="input-container">
                <div>
                    <label for="contact person">Contact Person</label>
                    <input type="text" placeholder="Contact">
                </div>
                <div id="email-container">
                    <label for="email">Email</label>
                    <input type="email" placeholder="Email">
                </div>
                <div>
                    <label for="address">Address</label>
                    <input type="text" placeholder="Address">
                </div>
                <div id="password-container">
                    <label for="password">School Phone</label>
                    <input type="password" placeholder="phone number">
                </div>
            </div>
            <div id="remember-container">
            </div>
            <button>Register</button>
            <div id="seperator"></div>

            <p>Already have an account? <a href="">Sign In</a></p>
        </form>
    </div>
</div>