@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello World</h1>
    <div id="links">
        <a asp-page="./Forms/LoginPage">Login</a>
        <a asp-page="./Forms/RegisterPage">Register</a>
    </div>
    
</div>
